<html>
  <head>
    <meta charset="utf-8"/>
    <title> Career information </title>
  </head>

  <body>
    <h1> <%= @career.name %> information </h1>
      <p> Full description : </p>

      <% if !@career.doesHaveFullDescription? then %>
        <p> The career does not have a description, you can add it if you like. </p>
      <% end %>

      <%= @career.full_description %>
      <form name='formFullDescription' action='/careers' method='POST'>
        <input type='text'   name='value' placeholder='full description'> 
        <input type='hidden' name='action' value='update'> 
        <input type='hidden' name='attribute' value='full_description'> 
        <input type='hidden' name='id' value='<%= @career.id %>'> 
        <input type='submit' value='Add/Update description'> 
      </form>

      <form name='formCareerName' action='/careers' method='POST'>
        <input type='text'   name='value' placeholder='career name'> 
        <input type='hidden' name='action' value='update'> 
        <input type='hidden' name='attribute' value='name'> 
        <input type='hidden' name='id' value='<%= @career.id %>'> 
        <input type='submit' value='Update name'> 
      </form>
  </body>
</html>
