<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title> Career information </title>
  </head>

  <body>
    <h1> <%= @career.name %> information </h1>
      <form name='formCareerName' action='/careers' method='POST'>
        <input type='text'   name='value' value='Career name'> </input>
        <input type='hidden' name='action' value='update'> </input>
        <input type='hidden' name='attribute' value='name'> </input>
        <input type='hidden' name='id' value='<%= @career.id %>'> </input>
        <input type='submit' value='Update name'> </input>
      </form>

    <div class='fullDescription'>
        <% if !@career.doesHaveFullDescription? then %>
          <p> The career does not have a description, you can add it if you like. </p>
        <% end %>
          <%= @career.full_description %>
          <form name='formFullDescription' action='/careers' method='POST'>
              <input type='text'   name='value' value='Full description'> </input>
              <input type='hidden' name='action' value='update'> </input>
              <input type='hidden' name='attribute' value='full_description'> </input>
              <input type='hidden' name='id' value='<%= @career.id %>'> </input>
              <input type='submit' value='Add/Update description'> </input>
          </form>
    </div>
  </body>
</html>
