<html>
  <head>
    <meta charset="utf-8"/>
    <title> Carreras </title>
    <link rel="stylesheet" type="text/css" href="css/careers_styles.css" />
  </head>

  <body bgcolor="#CAE3EC">
    <%= erb :menu %>

    <h1> Información de las carreras </h1>

    <ul>
      <% @careers.map do |career|%>
        <li>
          <%= career.name %>
          <dd> Encuestas asociadas : <%= career.surveys.count %> </dd>
        </li>
      <%end%>
    </ul>
  </body>
</html>