<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title> Careers </title>
  </head>

  <body>
    <h1> Careers information </h1>
    <form action='/careers' method='POST'>
      <input type='text' name='name' value='career name'>
      <input type='hidden' name='action' value='create'>
      <input type='submit' value='Create'>
    </form>

    <form action='/careers' method='POST'>
      <input type='text' name='name' value='career name'>
      <input type='hidden' name='action' value='delete'>
      <input type='submit' value='Delete'>
    </form>

    <ul>
      <% @careers.map do |career|%>
        <li>
          <a href="careers/<%#{career.id}%>"> <%= career.name%></a>
          (<%= career.surveys.count %>)
        </li>
      <%end%>
    </ul>
  </body>
</html>