<html>
  <head>
    <meta charset="utf-8"/>
    <title> Test vocacional </title>
    <link rel="stylesheet" type="text/css" href="css/landing_styles.css" />
  </head>
  <body bgcolor="#CAE3EC">

    <%= erb :menu %>

    <h1 class="form_title">
      <p> Bienvenid@ al test vocacional de la UNRC </p>
      <p> ¿Te gustaría saber que carrera estudiar? </p> 
      <p> Bien, dame tu nombre de usuario y empecemos. </p>
    </h1>
    
    <form action='/surveys' method='POST' class='form'>
        <input type="text" name='name' placeholder="Nombre de usuario" class='form_input' required>
        <input type="submit" name='submit' value='Iniciar' class='form_submit'>
    </form>

    <footer class="footer">
      <p> &copy; 2021 Universidad Nacional de Río Cuarto </p>
    </footer>
  </body>
  
  
</html>