<html>
  <head>
    <meta charset="utf-8"/>
    <title> HOMEPAGE </title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <canvas id="bgCanvas"></canvas>

    <div class="blurred-box">
        <div class="user-login-box">
            <span class="user-icon"></span>
            <div class="user-name"></div>
                <form action='/surveys' method='POST'>
                    <input type='text' name='name' placeholder='username' required>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
    <script type="text/javascript" src="js/styles.js"></script>  
  </body>
</html>