<html>
  <head>
    <meta charset="utf-8"/>
    <title> HOMEPAGE </title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <canvas id="bgCanvas"></canvas>
      <div class="user-name-box">
        <form action='/surveys' method='POST'>
            <input class="user-name" type='text' name='name', placeholder='username' required>
            <input class="submit" type='submit' value='submit'>
        </form>
      </div>

      <script type="text/javascript" src="js/styles.js"></script>  
  </body>
</html>