<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/menu_styles.css" />
    </head>

    <body bgcolor=>
        <header>
            <input type="checkbox" id="btn_menu">
            <label for ="btn_menu"> <img src="images/menu_icon.png" alt=""> </label>
            <nav class="menu">
                <ul>
                    <li> <a href="/"> Inicio  </a> </li>
                    <li> <a href="/careers"> Carreras </a> </li>
                    <li> <a href="https://sisinfo.unrc.edu.ar/"> SIAL </a> </li>
                    <li> <a href="https://www.evelia.unrc.edu.ar/evelia/errorLogin.jsp"> Evelia </a> </li>
                    <li> <a href="https://www.unrc.edu.ar/servicios/contacto.cdc"> Contacto </a> </li>
                    <li> <a href="https://www.unrc.edu.ar/unrc/academica/biblioteca.php"> Biblioteca </a> </li>
                </ul>
            </nav>
        </header>
    </body>
</html>