<html>
  <head>
    <meta charset="utf-8"/>
    <title> Resultado </title>
  </head>

  <body>
    <h1> Resultado </h1>
    <p> Deberias estudiar: <%= @career_result.name %> </p>
    <p> Descripcion de <%= @career_result.name %>: </p>
      <% if !@career_result.doesHaveFullDescription? %>
        <dd> Aun no se agrego una descripcion. </dd>
      <% end %>
        <dd> <%= @career_result.full_description %> </dd>
  </body> 
</html>