<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title> SURVEY </title>
  </head>

  <body>
    <h1> SURVEY </h1>
    <ul>
        <% @questions.map do |question|%>
        <li>
            <p> <%= question.description %> </p>
        </li>
       <%end%>
    </ul>
  </body>
</html>

